<!DOCTYPE html>
<html data-framework="vue">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Vue.js • TodoMVC</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
    [v-cloak] {
        display: none;
    }
    </style>
</head>

<body>
    <section class="todoapp" v-cloak>
        <header class="header">
            <h1>{{title}}</h1>
            <input autofocus="autofocus" autocomplete="off" :placeholder="placeholder" @keyup.enter="todoInputHandler($event)" v-model="todoInput" class="new-todo">
        </header>
        <section class="main">
            <input type="checkbox" class="toggle-all">
            <ul v-for="(todo,index) in filteredTodos" class="todo-list" :key="index">
                <li class="todo" :class="{completed:todo.completed,editing:todo==editedTodo}">
                    <div class="view">
                        <input type="checkbox" v-model="todo.completed" class="toggle">
                        <label @dblclick="editTodo(todo)">{{todo.message}}</label>
                        <button @click="removeTodo(index,$event)" class="destroy"></button>
                    </div>
                    <input v-model="todo.message" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)" @blur="doneEdit(todo)" v-todo-focus="todo == editedTodo" type="text" class="edit">
                </li>
            </ul>
        </section>
        <footer v-show="todos.length" class="footer">
            <span class="todo-count"><strong v-text="leftTodos"></strong> item left
                </span>
            <ul class="filters">
                <li><a href="#/all" :class="{selected:visibility == 'all'}">All</a></li>
                <li><a href="#/active" :class="{selected:visibility == 'active'}">Active</a></li>
                <li><a href="#/completed" :class="{selected:visibility == 'completed'}">Completed</a></li>
            </ul>
            <button @click="removeAllCompl" v-show="todos.length" class="clear-completed">
                Clear completed
            </button>
        </footer>
    </section>
    <footer class="info">
        <p>Written by <a href="http://github.com/YeomanYe">YeomanYe</a></p>
    </footer>
    <script src="node_modules/vue/dist/vue.js" type="text/javascript"></script>
    <script src="node_modules/director/build/director.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/routes.js" type="text/javascript"></script>
</body>

</html>
