<!DOCTYPE html>
<html data-framework="vue">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Vue.js • TodoMVC</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
    [v-cloak] {
        display: none;
    }
    </style>
</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <input autofocus="autofocus" autocomplete="off" placeholder="请填写代办事项" class="new-todo">
        </header>
        <section class="main">
            <input type="checkbox" class="toggle-all">
            <ul class="todo-list">
                <li class="todo completed">
                    <div class="view">
                        <input type="checkbox" class="toggle">
                        <label>aaa</label>
                        <button class="destroy"></button>
                    </div>
                    <input type="text" class="edit">
                </li>
                <li class="todo">
                    <div class="view">
                        <input type="checkbox" class="toggle">
                        <label>vfdsa</label>
                        <button class="destroy"></button>
                    </div>
                    <input type="text" class="edit">
                </li>
            </ul>
        </section>
        <footer class="footer"><span class="todo-count"><strong>1</strong> item left
				</span>
            <ul class="filters">
                <li><a href="file:///F:/Workspace/GitHub_Repository/todomvc-example/vue2/index.html#/all" class="selected">All</a></li>
                <li><a href="file:///F:/Workspace/GitHub_Repository/todomvc-example/vue2/index.html#/active" class="">Active</a></li>
                <li><a href="file:///F:/Workspace/GitHub_Repository/todomvc-example/vue2/index.html#/completed" class="">Completed</a></li>
            </ul>
            <button class="clear-completed" style="">
                Clear completed
            </button>
        </footer>
    </section>
    <footer class="info">
        <p>Written by <a href="http://github.com/YeomanYe">Ming Ye</a></p>
    </footer>
</body>
<div></div>

</html>